<?xml version='1.0' encoding='utf-8'?>
<widget id="com.Tox.Reversal" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ToxReversal</name>
    <description>
        Reversal timer for Archers.
    </description>
    <author email="symondavis@gmail.com" href="https://www.symondavis.pro">
        Symon Davis
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
